/*

New Event

http://www.templatemo.com/tm-486-new-event

*/

body {
		
    font-family: 'Montserrat', sans-serif !important;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
  background-color: #0d1316;
  color: #1a1b1f;
}

footer{
  background: transparent;
  z-index: 10;
  position: relative;
}

/*---------------------------------------
    Typorgraphy              
-----------------------------------------*/
h1,h2,h3,h4,h5,h6 {
  font-weight: 600;
}

h3,h5 {
  font-weight: 500;
}

h1 {
    font-size: 40px;
    letter-spacing: 2px;
}

h2 {
  font-size: 30px;
  text-transform: uppercase;
}

h3 {
  line-height: 36px;
}

h5 {
    letter-spacing: 1px;
    padding-top: 10px;
}

p {
   
    font-size: 14px;
    line-height: 24px;
}

a {
  text-decoration: none !important;
  outline: none;
}

a:hover  .img-responsive{
  transform: scale(1.02);
  overflow: hidden;
  display: block;
  transition: all 0.75s ease;
}


/*---------------------------------------
    General               
-----------------------------------------*/
.section-title {
  margin-bottom: 32px;
}

#overview,
#register {
  padding-top: 14rem;
  padding-bottom: 14rem;
}

#detail, #video,
#detail2,
#reference, 
#service,
#sponsors, 
#contact, footer {
    padding-top: 10rem;
    padding-bottom: 10rem;
}

#detail,
#detail2,
#reference, #sponsors,
footer {
  text-align: center;
}

#overview h3,
#detail2 h3,
#detail h3, #video h3,
#register h3,
#venue h3,
#contact h3 {
    padding-bottom: 12px;
}

#intro .btn,
#contact .btn {
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 0px;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 12px;
    padding: 14px 42px;
    margin-top: 42px;
    margin-right: 12px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

#intro .btn-danger,
#contact .btn-danger {
    background: #f2545f;
    border-color: transparent;
}

#contact .btn {
  border-radius: 100px;
}

#intro .btn-danger:hover {
  background: transparent;
  border-color: #ffffff;
  color: #ffffff;
}

#contact .btn-danger:hover {
  background: #222;
}

#intro .btn-default:hover {
    background: #ffffff;
    color: #333333;
    border-color: transparent;
}

.parallax-section {
  background-attachment: fixed !important;
  background-size: cover !important;
  position: relative;
  z-index: 1;
  background: white;
}

#btnAngebot{

  /* background: var(--secondary-color); */
  margin: 10px;
  padding: 5px;
}
/*---------------------------------------
    Preloader section              
-----------------------------------------*/
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: none repeat scroll 0 0 #0d1316;
}

.sk-rotating-plane {
  width: 50px;
  height: 50px;
  background-color: var(--primary-color) ;
  -webkit-animation: sk-rotatePlane 1.2s infinite ease-in-out;
          animation: sk-rotatePlane 1.2s infinite ease-in-out; }

@-webkit-keyframes sk-rotatePlane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
            transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
            transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }

@keyframes sk-rotatePlane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
            transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
            transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }



/*---------------------------------------
    Navigation Links section              
-----------------------------------------*/
.custom-navbar {
    margin-bottom: 0;
    background-color: #101010;
    z-index: -99;
}

.navbar {
  justify-content: center;
}

.custom-navbar .navbar-brand {
    color: transparent;
    font-weight: 600;
    font-size: 3rem;
    line-height: 20px;
}

.custom-navbar .nav li a {
  color: transparent;
  z-index: -1;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.6px;
    line-height: 20px;
    transition: all 0.4s ease-in-out;
}
.custom-navbar .nav li.active > a {
  color: transparent;

}
.custom-navbar .navbar-nav > li > a:hover,
.custom-navbar .navbar-nav > li > a:focus {
  background-color: transparent;
}

.top-nav-collapse{
  z-index: 99;
}

.dropdown-menu{
  background-color: rgba(0, 0, 0, 0.7); 
  transform: all 10s ease;
}

.top-nav-collapse .nav li a {
  color: var(--primary-color);
  z-index: 1;
  
}

.top-nav-collapse .nav li a:hover {
    background: transparent;
    z-index: 1;
    color: var(--secondary-color);
}

.top-nav-collapse .navbar-nav > li > a:hover,
.top-nav-collapse .navbar-nav > li > a:focus {
  background-color: transparent;
}

.top-nav-collapse .nav li.active > a {
  background-color: transparent;
  z-index: 1;
  color: var(--highlight-color);
}

.navbar-header{
  transform: scale(0);
  transition: all 0.5s ease;
}


.navbar-header-collapse{
  transform: scale(1);
}

.custom-navbar .navbar-toggle {
    border: none;
    padding-top: 10px;
}

.custom-navbar .navbar-toggle {
    background-color: transparent;
}

.custom-navbar .navbar-toggle .icon-bar {
    background: #ffffff;
    border-color: transparent;
}

li {
  display: block;
  transition-duration: 0.5s;
 }
 
 li:hover {
   cursor: pointer;
 }
 
 ul li ul {
   visibility: hidden;
   opacity: 0;
   position: absolute;
   transition: all 0.5s ease;
   margin-top: 1rem;
   left: 0;
   display: none;
 }
 
 ul li:hover > ul,
 ul li ul:hover {
   visibility: visible;
   opacity: 1;
   display: block;
 }
 
 ul li ul li {
   clear: both;
   width: 100%;
 }

@media(min-width:768px) {
    .custom-navbar {
        padding: 20px 0;
        border-bottom: 0;
        background: 0 0; 
    }
    .custom-navbar.top-nav-collapse {
        background: var(--background-color);
        color: gray;
        padding: 0;
    }
}



/*---------------------------------------
    Intro section              
-----------------------------------------*/
#intro {

    -webkit-background-size: cover;
    background-size:  cover;
    background-attachment: fixed;
    color: var(--primary-color);
    display: -webkit-box;
    display: -webkit-flex;
     display: -ms-flexbox;
     position: fixed;    
    -webkit-box-align: left;
     -webkit-align-items: top;
      -ms-flex-align: left;
          align-items: left;
    height: 100vh;
    text-align: left;
}


#introvideo{
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index:-100;
}

.mainpage {
  margin:200px 175px;
}


#intro h3 {
  letter-spacing: 2px;
}



/*---------------------------------------
   Overview  section              
-----------------------------------------*/
#overview img {
  position: relative;
  padding-bottom: 32px;
}

#overview{
  background: #fff;
}



/*---------------------------------------
    Detail section              
-----------------------------------------*/


#detail .fa ,
#detail2 .fa,
#reference {
  color:  var(--primary-color);
  font-size: 48px;
}



/*---------------------------------------
    Video section              
-----------------------------------------*/
#video iframe {
  border: none;
}



/*---------------------------------------
   reference section              
-----------------------------------------*/
#reference {
    background: url('../images/background.png');
}

#reference h3 {
  color: var(--highlight-color);
    font-size: 18px;
    margin-bottom: 0px;
}


#reference h4{


  color: var(--primary-color);
}

#reference p {
  color: var(--highlight-color);
  margin-top: 4px;
}

#reference img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

#reference .col-md-3 {
    display: block;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-bottom: 22px;
}

#reference .reference-wrapper {
    padding-bottom: 22px;
}

.videoInsert {


  object-fit: fill;

}

/*---------------------------------------
   service section              
-----------------------------------------*/
#service h4 {
    color: #808080;
    font-size: 12px;
}

#service{
  background-color: #f9f9f9;
  font-size: 12px;
}


#service h3 {
  margin-top: 16px;
}

#service .service-divider {
    border: 1px solid #f9f9f9;
    margin-top: 32px;
    margin-bottom: 42px;
}

#service span {
    padding-right: 12px;
}

#service img {
  border-radius: 50%;
}

.nav-tabs {
  margin-bottom: 20px;
}
.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.nav-tabs > li > a {
  color: #000000;
  font-weight: 600;
  margin-right: 2px;
  line-height: 1.42857143;
  border: none;
  border-radius: 0px;
}
.nav-tabs > li > a:hover {
  background-color: transparent;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #f2545f;
  cursor: default;
  background-color: transparent;
  border: 1px solid transparent;
}
.tab-content {
  padding-top: 20px;
}



/*---------------------------------------
   Faq section              
-----------------------------------------*/
#faq {
  background: #f9f9f9;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

#faq .panel-group {
  margin-top: 32px;
}

#faq .panel-group .panel {
  margin-bottom: 8px;
}

#faq .panel-default {
  border: none;
}

#faq .panel-default>.panel-heading {
  background: #f0f0f0;
  color: #505050;
}

#faq .panel-heading {
  border: none;
  padding-top: 8px;
  padding-bottom: 6px;
}

#faq .panel-default>.panel-heading+.panel-collapse>.panel-body {
  border-top: none;
  padding-top: 22px;
  padding-left: 32px;
  padding-bottom: 22px;
}

#faq .panel-heading .panel-title a[data-toggle="collapse"] {
  font-size: 18px;
  font-weight: 500;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px 15px;
}

#faq .panel-heading .panel-title a[data-toggle="collapse"]::after {
  content: "-";
  display: block;
  position: absolute;
  line-height: 1;
  right: 1em;
  top: 50%;
  transform: translateY(-50%);
}

#faq .panel-heading .panel-title a[data-toggle="collapse"].collapsed::after {
  content: "+";
}




/*---------------------------------------
   Sponsors section              
-----------------------------------------*/


/*---------------------------------------
   Contact section              
-----------------------------------------*/
#contact {
    background: url('../images/background2.png') 50% 0 repeat-y fixed;
    background-size: cover;
    background-position: center center;
}

#inboxme{
  color: var(--primary-color);
}


#contact .contact_des {
  padding-top: 3rem;
  padding-right: 2rem;
  background: #0d131680;
  padding:50px 85px;
}

#contact .contact_detail {
  background: #0d131680;
  padding: 5rem 5rem 12rem 5rem;
}

#contact .form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--primary-color);
  border-radius: 0px;
  box-shadow: none;
  margin-bottom: 16px;
  transition: all 0.4s ease-in-out;
}

#contact .form-control:focus {
  border-bottom-color: #999;
}

#contact input {
  height: 45px;
}

.form-control{
  color: var(--primary-color) !important;
}

#contact input[type="submit"] {
  background: var(--secondary-color);
  border-radius: 100px;
  border: none;
  color: var(--primary-color) !important;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 12px;
  transition: all 0.4s ease-in-out;
}

#contact input[type="submit"]:hover {
  background: var(--secondary-color);
}

/*---------------------------------------
   Contact section              
-----------------------------------------*/
#privacy {
  background: 50% 0 repeat-y fixed;
  background-size: cover;
  background-position: center center;
}

#privacy .contact_des {
padding-top: 3rem;
padding-right: 2rem;
}

#privacy .contact_detail {
padding: 5rem 5rem 12rem 5rem;
}

#privacy .form-control {
background: transparent;
border: none;
border-bottom: 1px solid #f0f0f0;
border-radius: 0px;
box-shadow: none;
margin-bottom: 16px;
transition: all 0.4s ease-in-out;
}

#privacy .form-control:focus {
border-bottom-color: #999;
}

#privacy input {
height: 45px;
}

#privacy input[type="submit"] {
background: #222;
border-radius: 100px;
border: none;
color: #ffffff;
letter-spacing: 2px;
height: 50px;
margin-top: 12px;
transition: all 0.4s ease-in-out;
}

#privacy input[type="submit"]:hover {
background: #f2545f;
}

.contacticon{
  margin-right: 8px; margin-left: 2px;
  color: var(--highlight-color);
}

.contactinfo{
  color: var(--primary-color);
}
/*---------------------------------------
   Footer section              
-----------------------------------------*/
footer {
  background-attachment: fixed;
  background-color: #0d1316;
}

footer p {
  color: var(--secondary-color);
}


/* Back top */
.go-top {
  background-color: var(--secondary-color);
  bottom: 1.5em;
  right: 0.75em;

  font-size: 32px;
  display: none;
  position: fixed;
  text-decoration: none;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: var(--secondary-color);
  transition: all 0.4s ease-in-out;
}

.go-top:hover {
    background: var(--highlight-color);
    color: #0d1316;
}


/*---------------------------------------
   Social icon             
-----------------------------------------*/
.social-icon {
    position: relative;
    padding: 0;
    margin: 0;
}

.social-icon li {
    display: inline-block;
    list-style: none;
}

.social-icon li a {
    color: #666;
    border-radius: 100px;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
}

.social-icon li a:hover {
    background: gray;
    color: #ffffff;
}



/*---------------------------------------
   Responsive styles            
-----------------------------------------*/
@media (max-width: 980px) {

  p {font-size: 13px;}

  .custom-navbar .navbar-brand {
    font-size: 2rem;
  }

  .custom-navbar .nav li a {
    font-size: 11px;
	line-height: 20px;
  }


  #video iframe {
    margin-top: 42px;
  }

  #contact .contact_detail {
  padding: 10rem 3rem 10rem 5rem;
}



}

@media (max-width: 768px) {

  .custom-navbar .navbar-brand {
    line-height: 20px;
  }

  #overview img,
  #detail .col-md-4,
  #register form {
    padding-top: 32px;
  }

  .nav-tabs > li > a {
    font-size: 13px;
  }

  #service img {
    padding-bottom: 32px;
  }

  #sponsors img {
    padding-top: 22px;
  }

  #contact .contact_detail {
    margin-top: 82px;
  }

  #contact .contact_des {
    padding-top: 3rem;
    padding:25px 40px;
  }
  

  .mainpage {
    margin:50px 15px;
  }

  
}

@media (max-width: 760px) {



}




@property --primary-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #CCD7F2;
}

@property --highlight-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #FF9A56;
}

@property --background-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #031131;
}

@property --secondary-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #4f6493;
}
